.ant-select-selector:hover{
    border-color: rgb(110 182 180) !important;
    color:  rgb(110 182 180) !important;
}

.order,.type, .view{
    position: relative;
}
.order::before, .type::before, .period::before, .view::before{
    transition: .5s;
    padding: 0 5px;
    position: absolute;
    top: -20%;
    left: 5%;
    z-index: 1;
    background-color: #fff;
    font-size: 10px;
}
.view::before{
    content: "View";
}
.period::before{
    content: "Period";
}
.type::before{
    content: "Type";
}
.order::before{
    content: "Sort By Amount";
}

.cards {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.ant-list-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.ant-list-item {
    padding: 60px 25px!important; 
}