body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logoContainer {
  text-align: center;
}
.logoContainer img {
  width: 50%;
}
a {
  text-decoration: none;
  color: #55a9a6;
}

.trigger:hover {
  color: #55a9a6!important;
}

/* global */


.inputError {
  border-color: red!important;
}
.errorMessasge {
  color: red;
  font-size: 0.7rem;
}
.formFieldContainer {
  height: 90px;
}

.actionButtonsContainer button{
  margin-left: 10px;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.ant-typography {
  margin-bottom: 5px!important;
}

.ant-card-body {
  padding: 15px!important;
}
 
/* Ant design */

/* layout */
.ant-layout-header {
  height: 150px!important;
}

.ant-radio-button-wrapper-checked {
  border-color: #55a9a6!important;
  color: #55a9a6!important;
}
.ant-radio-button-wrapper:hover {
  color: #55a9a6!important;
}
.ant-pagination-item-active {
  border-color: #55a9a6!important;
  color: #55a9a6!important;
}
.ant-pagination-item-active a{
  color: #55a9a6!important;
}

.ant-menu-item.ant-menu-item-selected,
.ant-menu-item.ant-menu-item-selected {
  background-color: #55a9a6!important;
}

/* balanceInfoWrapper */
.balanceInfoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.incomeInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Buttons */
.outlinedGreenBtn {
  color: #55a9a6!important;
}
.outlinedGreenBtn:hover {
  color: #3ba8a5!important;
  border-color: #3ba8a5!important;
}